@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PROVEEDORES Y CUENTAS POR PAGAR</h1>
    <p>Prototipo para operaciones CRUD con la base de datos ORACLE.</p>
    <hr />

</div>

<ul>
    <li>Proveedores</li>
    <li>Personas</li>
    <li></li>
    <li>@Html.ActionLink("CREAR_PROVEEDOR", "create", "proveedor")</li>
</ul>
