@model p_bd1_proveedores_cuentas_por_pagar.Models.Persona

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NOMBRE_PERSONA" class="control-label"></label>
                <input asp-for="NOMBRE_PERSONA" class="form-control" />
                <span asp-validation-for="NOMBRE_PERSONA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APELLIDO_PERSONA" class="control-label"></label>
                <input asp-for="APELLIDO_PERSONA" class="form-control" />
                <span asp-validation-for="APELLIDO_PERSONA" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">Dirección</label>
                @{

                    List<SelectListItem> direcciones = ViewBag.direcciones;
                    @Html.DropDownListFor(x => x.ID_DIRECCION, direcciones, "Seleccione direccion", new { @id = "ddlDireccion", @onchange = "cambioDireccion()", @style = "min-width: 300px;" });
                }
                <br /> <br />
                <label>Zona</label> <br />
                <input name="zona" id="txtzona" class="form-control" readonly="readonly" /> <br />
                <label>Municipio</label> <br />
                <input name="municipio" id="txtmunicipio" class="form-control" readonly="readonly" /> <br />
                <label>Departamento</label> <br />
                <input name="departamento" id="txtdepartamento" class="form-control" readonly="readonly" /> <br />
                <label>Pais</label> <br />
                <input name="pais" id="txtpais" class="form-control" readonly="readonly" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="GENERO" class="control-label"></label> <br />

                @Html.DropDownListFor(x => x.GENERO, new List<SelectListItem>
                      {
                      new SelectListItem{ Text = "Masculino", Value = "M" },
                      new SelectListItem{ Text = "Femenino", Value = "F" }
                      }, new { @style = "with:100%" })

                <span asp-validation-for="GENERO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CORREO_PERSONA" class="control-label"></label>
                <input asp-for="CORREO_PERSONA" class="form-control" />
                <span asp-validation-for="CORREO_PERSONA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI_PERSONA" class="control-label"></label>
                <input asp-for="DPI_PERSONA" class="form-control" />
                <span asp-validation-for="DPI_PERSONA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIT_PERSONA" class="control-label"></label>
                <input asp-for="NIT_PERSONA" class="form-control" />
                <span asp-validation-for="NIT_PERSONA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TELEFONO" class="control-label"></label>
                <input asp-for="TELEFONO" class="form-control" />
                <span asp-validation-for="TELEFONO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function cambioDireccion() {
        var listaDireccion = document.querySelector("#ddlDireccion");

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/persona/obtenerDireccionCompleta?idDireccion=' + + listaDireccion.value);
        xhr.responseType = 'json';
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(this.response);
                let zona = document.querySelector("#txtzona").value = this.response.zona;
                let municipio = document.querySelector("#txtmunicipio").value = this.response.municipio;
                let departamento = document.querySelector("#txtdepartamento").value = this.response.departamento;
                let pais = document.querySelector("#txtpais").value = this.response.pais;

            }
        };
        xhr.send();
    };
</script>

