@model p_bd1_proveedores_cuentas_por_pagar.Models.Direccion_

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Direccion_</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Pais</label> <br />
                @{

                    List<SelectListItem> paises = ViewBag.paises;
                    @Html.DropDownList("pais", paises, "Seleccione pais", new { @id = "ddlPais", @onchange = "cambioPais()", @style = "min-width: 300px;" });
                }
            </div>

            <div class="form-group">
                <label class="control-label">Departamento o estado</label> <br />
                @{

                    @Html.DropDownList("departamento", new List<SelectListItem> { }, new { @id = "ddlDepartamento", @onchange = "cambioDepartamento()", @style = "min-width: 300px;" });
                }
            </div>

            <div class="form-group">
                <label class="control-label">Municipio o ciudad</label> <br />
                @{

                    @Html.DropDownList("municipio", new List<SelectListItem> { }, new { @id = "ddlMunicipio", @onchange = "cambioMunicipio()", @style = "min-width: 300px;" });
                }
            </div>

            <div class="form-group">
                <label class="control-label">Zona o Sector</label> <br />
                @{

                    @Html.DropDownList("zona", new List<SelectListItem> { }, new { @id = "ddlZona", @style = "min-width: 300px;" });
                }
            </div>


            <div class="form-group">
                <label asp-for="DIRECCION" class="control-label"></label>
                <input asp-for="DIRECCION" class="form-control" />
                <span asp-validation-for="DIRECCION" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    function cambioPais() {
        var listaDepartamentos = document.querySelector("#ddlDepartamento");
        var listaPaises = document.querySelector("#ddlPais");
        listaDepartamentos.options.length = 0;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/direccion/obtenerDepartamentos?idPais=' + + listaPaises.value);
        xhr.responseType = 'json';
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(this.response);
                for (var i = 0; i < this.response.length; i++) {
                    var opt = document.createElement("option");
                    opt.text = this.response[i].nombrE_DEPARTAMENTO;
                    opt.value = this.response[i].iD_DEPARTAMENTO;
                    listaDepartamentos.add(opt);
                }
                cambioDepartamento();
            }
        };
        xhr.send();
    };

    function cambioDepartamento() {
        var listaMunicipios = document.querySelector("#ddlMunicipio");
        var listaDepartamentos = document.querySelector("#ddlDepartamento");
        listaMunicipios.options.length = 0;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/direccion/obtenerMunicipios?idDepartamento=' + + listaDepartamentos.value);
        xhr.responseType = 'json';
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(this.response);
                for (var i = 0; i < this.response.length; i++) {
                    var opt = document.createElement("option");
                    opt.text = this.response[i].nombrE_MUNICIPIO;
                    opt.value = this.response[i].iD_MUNICIPIO;
                    listaMunicipios.add(opt);
                }
                cambioMunicipio();
            }
        };
        xhr.send();
    };

    function cambioMunicipio() {
        var listaZonas = document.querySelector("#ddlZona");
        var listaMunicipios = document.querySelector("#ddlMunicipio");
        listaZonas.options.length = 0;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/direccion/obtenerZonas?idMunicipio=' + + listaMunicipios.value);
        xhr.responseType = 'json';
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(this.response);
                for (var i = 0; i < this.response.length; i++) {
                    var opt = document.createElement("option");
                    opt.text = this.response[i].nombrE_ZONA;
                    opt.value = this.response[i].iD_ZONA
                    listaZonas.add(opt);
                }
            }
        };
        xhr.send();
    };

</script>


